// Responsive Mixins
$breakpoints-down: (
	"sm": 640px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1280px,
	"2xl": 1536px,
);

@mixin on($size) {
	@media (min-width: map-get(
      $breakpoints-down , $size
   )) {
		@content;
	}
}
