body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

.yt-player {
	height: 100vh;
	position: relative;
	overflow: hidden;
	iframe {
		pointer-events: none;
		transform: scale(4);
		@include on("sm") {
			transform: scale(2.5);
		}
		@include on("md") {
			transform: scale(2);
		}
		@include on("lg") {
			transform: scale(1.5);
		}
		@include on("xl") {
			transform: scale(1.3);
		}
	}
	&__noise {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		background-image: url(../img/noise.png);
		background-repeat: repeat;
		animation: noiseAnim 0.1s infinite linear alternate;
	}
}

.radio-player {
	display: none;
}

@keyframes noiseAnim {
	0% {
		background-position: 10px 200px;
	}
	20% {
		background-position: -50px 0;
	}
	40% {
		background-position: 100px -10px;
	}
	60% {
		background-position: 0 -150px;
	}
	80% {
		background-position: -100px -30px;
	}
	to {
		background-position: 160px -60px;
	}
}

.MuiSelect-select {
	padding: 0.7rem 1rem !important;
}
.MuiInputLabel-outlined {
	top: 50% !important;
	left: 0.7rem !important;
	transform: translateY(-50%) !important;
	transition-property: top !important;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
	top: 0 !important;
	left: 0 !important;
	transform: translate(14px, -6px) scale(0.75) !important;
}
