.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.relative {
	position: relative;
}
.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}
.flex-none {
	flex-shrink: 0;
	flex-grow: 0;
}
.ws-nowrap {
	white-space: nowrap;
}
.mt-4 {
	margin-top: 1rem !important;
}
.ml-4 {
	margin-left: 1rem !important;
}
.lg\:ml-8 {
	@include on("lg") {
		margin-left: 2rem !important;
	}
}
.lg\:mt-0 {
	@include on("lg") {
		margin-top: 0 !important;
	}
}
.ml-auto {
	margin-left: auto !important;
}
.block {
	display: block;
}
.td-none {
	text-decoration: none;
}
