@import "../mixins";
.control {
	.MuiButton-contained {
		background-color: #6d00f8 !important;
	}
	&__noise {
		button {
			padding: 0.5rem 2.8rem;
		}
	}
	&__visibility {
		top: 0.5rem;
		right: 0.5rem;
		position: fixed;
		z-index: 110;
	}
	&__content {
		left: 0;
		right: 0;
		top: -36rem;
		z-index: 100;
		padding: 1rem;
		position: fixed;
		padding-top: 3rem;
		background-color: rgba(#2d0d64, 0.75);
		transition: top 300ms ease-in-out;
		@include on("lg") {
			padding-top: 1rem;
		}
		&.visible {
			top: 0;
		}
	}
	&__speeds {
		button {
			padding: 2px 6.4px !important;
			min-width: auto !important;
			color: white !important;
			border-color: #882dff;
		}
		button:not(:first-child) {
			margin-left: 6px;
		}
	}
}

.audio {
	border: 2px solid rgba(white, 0.4);
	border-radius: 0.25rem;
	max-width: 28rem;
	margin: 0 auto;
	&__header {
		margin: 2px;
		margin-bottom: 0;
		text-align: center;
		padding: 0.2rem 1rem;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		background-color: rgba(#862aff, 0.75);
	}
	&__control {
		padding: 0.2rem 1rem;
	}
	.MuiSlider-thumb,
	.MuiSlider-track,
	.MuiSlider-rail {
		background-color: white !important;
	}
	.MuiCircularProgress-colorPrimary {
		color: white !important;
	}
}
